@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.signup-container{
    text-align: center;
}
#signup-header{
    font-family: 'LINESeedKR-Bd';
    color: whitesmoke;
    font-size: 50px;
}
.user-input{
    text-align: center;
    display: block;
}
input[type='text']{
    width: 530px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 2%;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
}
input[type='password']{
    width: 530px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
}
#id-container{
    margin-bottom: 2%;
}
#signup-id{
    width: 450px;
    margin-bottom: 0;
}
#id-verify{
    color: white;
    background-color: #E74949;
    border: 0;
    border-radius: 10px;
    font-family: 'Pretendard-Regular';
    width: 70px;
    height: 40px;
    margin-left: 10px;
}
select{
    width: 550px;
    height: 52px;
    border-radius: 10px;
    margin-bottom: 2%;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    padding-left: 5px;
    box-shadow: none;
}
.jungbok{
    padding-top: 0%;
    text-align: left;
    padding-left: 26%;
    
}
.caution{
    font-size: 20px;
}