<!DOCTYPE HTML>
<html>
	<head>
		<title>BLAIND</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />>
	</head>
	<body class="is-preload" 
	style ="-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;">
		<!-- Home -->
			<article id="top" class="wrapper style1" style = "background-color: gray;box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
			padding: 8em 0 8em 0;
			text-align: center;">
				<div class="container">
					<div class="row">
						<div class="col-4 col-5-large col-12-medium" style = 'text-align: center;'>
							<span class="image fit" style = 'text-align: -webkit-center;'>
								<img 
								style ="
								display: inline-block;
								position: relative;
								display: block;
								width: 60%;
								
								"
								src="https://postfiles.pstatic.net/MjAyMjEyMjlfMTY5/MDAxNjcyMjc5Mjg1Mjgx.6BR3m1KOaq14Hr8B0xrcR3CznfrMOPMSqwE3STun7lAg.DIRId9o-Wvu-XbJZkog_GV50QRvi9M3h5TLxUz6K0ycg.PNG.dao0924/logo-remove.png?type=w580" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium"
						style="
						">
							<header>
								<h1 style ="color : white; font-size: 60px;"><strong>반갑습니다!</strong></h1>
							</header>
							<p style ="color : white; font-size: 25px;"><strong>BLAIND</strong>의 회원가입을 위한 이메일입니다.<br>메일 인증을 위하여 아래의 버튼을 눌러주세요.</p>
							<a href=http://127.0.0.1:8000/verifyEmail/{{email}}/{{number}}/ class="button large scrolly"
							style = 	
							'text-align: center;
							-moz-transition: background-color .2s ease-in-out;
							-webkit-transition: background-color .2s ease-in-out;
							-ms-transition: background-color .2s ease-in-out;
							transition: background-color .2s ease-in-out;
							-webkit-appearance: none;
							position: relative;
							display: inline-block;
							color: #fff !important;
							text-decoration: none;
							font-weight: 700;
							border: 0;
							outline: 0;
							cursor: pointer;
							border-radius: 8px;
							text-shadow: -1px -1px 0.5px rgba(0, 0, 0, 0.5);
							overflow: hidden;
							box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
							background-color: #43B3E0;
							padding: 1em 2.35em 1em 2.35em;
							font-size: 1.1em;
							max-width: 24em;
							font-size: 1.5em;
							letter-spacing: -0.025em;
							width: 100%;
							background-color: #444;
							color: #fff !important;
							padding: 1em 0 1em 0;'>이메일 인증하기</a>
						</div>
					</div>
				</div>
			</article>
	</body>
</html>